.selector {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .selector > li {
    display: inline-block;
    padding: 0 0.5rem;
  }
  .selector button {
    background-color: #eee;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 4px;
    min-width: 100px;
    transition: all 0.3s ease-out;
  }
  .selector button.active {
    color: #61dafb;
    background-color: #20232a; 
  }